{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Comentarios{% endblock %}</h2>
{% endblock %}

{% block content %}

        <article>
            <header>
                <div>
                    <h4>Page_id: {{ page_id }}</h4>
                </div>
                <div>
                    <a href="">listoooo</a>
                </div>
            </header>
        </article>

        <table>
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Reacciones</th>
                    <th>Total de reacciones</th>
                    <th>Sentimiento de la publicacion</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% for post in posts_fetch %}
                            {{ posts_fetch.index(post)+1 }} -> {{ post.id }} <br>
                        {% endfor %}    
                    </td>
                    <td>
                        {% for reaction in all_reactions %}
                            {{ all_reactions.index(reaction)+1 }} -> {{ reaction.post_id }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for total in all_total %}
                            {{ total }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for post_reaction in all_post_react %}
                            {{ post_reaction }} <br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for post_id in all_comments %}
                            {% if all_comments.get(post_id) %}
                                <b>{{ post_id }}</b> -> 
                                {% for comment in all_comments[post_id] %}
                                    {{ comment }} <br>
                                {% endfor %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

{% endblock %}
