{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Comentarios{% endblock %}</h2>
{% endblock %}

{% block content %}
    <article>
        <header>
            <div>
                <h4>Archivo: {{ file_fetch.name.split('___')[1] }}</h4>
            </div>
        </header>
    </article>

    <div class="img_wc">
        <img src="{{url_for('static', filename=wordcloud_path)}}"/>
    </div>
    <div class="container-fluid"style='margin-left:1%; z-index: 10000;'>
        <div class='row col-ms-12 mx-auto' style="display: flex; margin: left -50px !important;;">
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 1: Sentimientos en el mes de Enero</h4></span></div>
                <canvas id="myChart1" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: Sentimientos en el mes de Febrero</h4></span></div>
                <canvas id="myChart2" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 3: Sentimientos en el mes de Marzo</h4></span></div>
                <canvas id="myChart3" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 4: Sentimientos en el mes de Abril</h4></span></div>
                <canvas id="myChart4" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 5: Sentimientos en el mes de Mayo</h4></span></div>
                <canvas id="myChart5" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 6: Sentimientos en el mes de Junio</h4></span></div>
                <canvas id="myChart6" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 7: Sentimientos en el mes de Julio</h4></span></div>
                <canvas id="myChart7" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 8: Sentimientos en el mes de Agosto</h4></span></div>
                <canvas id="myChart8" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 9: Sentimientos en el mes de Septiembre</h4></span></div>
                <canvas id="myChart9" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 10: Sentimientos en el mes de Octubre</h4></span></div>
                <canvas id="myChart10" ></canvas>
            </div>
         
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 11: Sentimientos en el mes de Noviembre</h4></span></div>
                <canvas id="myChart11" ></canvas>
            </div>
            <div id='objeto' style='max-width: 48%; margin-right: 2%;  margin-left: 0%;'class='col-sm-6  mb-2 mt-4  bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 12: Sentimientos en el mes de Diciembre</h4></span></div>
                <canvas id="myChart12" ></canvas>
            </div>
    </div>
    </div>
    

    {% for post in posts_fetch %}
 
        {% for comment in comments_fetch[post.id] %}
            <p class="sentimiento" valor="{{ comment.feeling }}" fecha="{{ comment.created_date }}" hidden></p>

        {% endfor %}
    {% endfor %} 
    <script>
        {% include 'feeling/graphic3.js' %}
    </script>
{% endblock %}
