{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Comentarios{% endblock %}</h2>
{% endblock %}

{% block content %}

        <article>
            <header>
                <div>
                    <h4>Page_id: {{ page_id }}</h4>
                </div>
                <div>
                    <a href="">listoooo</a>
                </div>
            </header>
        </article>

        <table>
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Total de reacciones</th>
                    <th>Sentimiento de la publicacion</th>
                    <th>Comentarios</th>
                    <th>Sentimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for index in range(posts_fetch|length)%}
                    <tr>
                        <td>
                            {{ posts_fetch[index].created_date }}   {{ posts_fetch[index].created_time }}
                        </td>
                        <td>
                            {{ all_total[index] }}
                        </td>
                        <td>
                            {{ all_post_react[index] }}
                        </td>
                        <td>
                            {% if all_comments[posts_fetch[index].id] %}
                                {% for comment in all_comments[posts_fetch[index].id] %}
                                    {{ comment.message }} <br><br>
                                {% endfor %}
                            {% else %}
                                Sin comentarios
                            {% endif %}
                        </td>
                        <td>
                            {% if all_sentiments[posts_fetch[index].id] %}
                                {% for comment in all_sentiments[posts_fetch[index].id] %}
                                    {{ comment }} <br><br>
                                {% endfor %}
                            {% else %}
                                Sin comentarios
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
