{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Analisis de sentimientos{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% if pages == [] %}
        <h1 class="text-center pt-5 text-danger">No existen páginas de restaurantes, favor de registrar una en la seccion: <br> Restaurantes > Actualizar > Pagina > Crear</h1>
    {% else %}
        <form method="POST">

            <label for="page_id">Pagina de restaurantes</label>
            <select name="page_id" id="page_id">
                <option value="0">-- Seleccione una pagina --</option>
                {% for page in pages %}
                    <option value="{{ page.id }}">{{ page.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Buscar datos">
        
        </form>
        {% if excel_files %}
            <h2 class="text-primary pt-5 mb-3">Datos cargados previamente:</h2>
            {% for excel in excel_files %}
                <article>
                    <header>
                        <div>
                            <h4>{{ excel.split('___')[1] }}</h4>
                        </div>
                        <div>
                            <a href="{{ url_for('feeling.comments', page_id = excel.split('___')[0].split('_')[0]) }}">Seleccionar</a>
                        </div>
                    </header>
                </article>
            {% endfor %}
        {% else %}
            <h2 class="text-danger text-center pt-5 mb-3">No hay datos registrados en esta página</h2>
        {% endif %}
    {% endif %}

{% endblock %}
