{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Analisis de KPIs{% endblock %}</h2>
{% endblock %}

{% block content %}
    <article>
        <header>
            <div>
                <h4>Archivo: {{ file_fetch.name.split('___')[1] }}</h4>
            </div>
        </header>
    </article>

    <form method="POST">

        <label for="start">Fecha de inicio:</label>
        <input type="date" id="start_date" name="start_date" value="{{ oldest_date }}" min="{{ oldest_date }}" max="{{ recent_date }}">

        <label for="start">Fecha de termino:</label>
        <input type="date" id="finish_date" name="finish_date" value="{{ recent_date }}" min="{{ oldest_date }}" max="{{ recent_date }}">

        <input type="submit" value="Analizar">

    </form>

    <div class='row col-ms-12 mx-3'>
        <div class='row col-ms-12 mx-3'>
            <div id='objeto'  style='max-width: 49%; margin-left: 1%;'  class='col-sm-6 mb-2 mt-4 bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: alcance de las publicaciones</h4></span></div>
                <canvas id="myChart1"></canvas> 
            </div>
            <div id='objeto'  style='max-width: 49%; margin-left: 1%;'  class='col-sm-6 mb-2 mt-4 bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: alcance de las publicaciones</h4></span></div>
                <canvas id="myChart2"></canvas> 
            </div>  
        </div>
        <div class='row col-ms-12 mx-3'>
            <div id='objeto'  style='max-width: 49%; margin-left: 1%;'  class='col-sm-6 mb-2 mt-4 bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: alcance de las publicaciones</h4></span></div>
                <canvas id="myChart3"></canvas> 
            </div>
            <div id='objeto'  style='max-width: 49%; margin-left: 1%;'  class='col-sm-6 mb-2 mt-4 bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: alcance de las publicaciones</h4></span></div>
                <canvas id="myChart4"></canvas> 
            </div>
            <div id='objeto'  style='max-width: 49%; margin-left: 1%;'  class='col-sm-6 mb-2 mt-4 bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: alcance de las publicaciones</h4></span></div>
                <canvas id="myChart5"></canvas> 
            </div>
            <div id='objeto'  style='max-width: 49%; margin-left: 1%;'  class='col-sm-6 mb-2 mt-4 bg-body rounded shadow-sm'>
                <div><span><h4>Grafica 2: alcance de las publicaciones</h4></span></div>
                <canvas id="myChart6"></canvas> 
            </div>
        </div>   
    </div>

    <div>
    <h2>Alcance</h2>
        <h5>Tasa de crecimiento de la audiencia</h5>
            <p>(Nuevos seguidores / Total de seguidores) * 100 = {{ growth_rate }} </p>
        <h5>Alcance de la publicación</h5>
            <p>(Vistas de la publicacion / Total de seguidores) * 100 = {{ post_reach }} </p>

    <br><br>

    <h2>Interaccion</h2>
        <h5>Tasa de aplauso</h5>
            <p>(Likes / Seguidores) * 100 = {{ applause_rate }} </p>
        <h5>Tasa de interacción promedio</h5>
            <p>(Likes + Comentarios + Compartidas / Total de seguidores) * 100 = {{ avg_engagement_rate }} </p>
        <h5>Tasa de amplificación</h5>
            <p>(Compartidas / Total de seguidores) * 100 = {{ amplification_rate }} </p>
        <h5>Tasa de viralidad</h5>
            <p>(Nuevos seguidores / Total de seguidores) * 100 = {{ virality_rate }} </p>
    </div>

    <script>
        {% include 'kpi/graphic2.js' %}
    </script>
{% endblock %}
