{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Restaurantes{% endblock %}</h2>
    {% if g.user %}
        <a href="{{ url_for('restaurant.create') }}">Nuevo restaurante</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for restaurant in restaurants %}
        <article>
            <header>
                <div>
                    <h1>{{ restaurant.name }}</h1>
                </div>
                <div>
                    {% if g.user %}
                        <a href="{{ url_for('restaurant.upload', restaurant_id=restaurant.id) }}">Cargar datos</a>
                        <a href="{{ url_for('restaurant.update', restaurant_id=restaurant.id) }}">Actualizar</a>
                        <a href="{{ url_for('restaurant.deactive', restaurant_id=restaurant.id) }}">Desactivar</a>
                    {% endif %}
                    
                </div>
            </header>
            <div>
                <p>{{ restaurant.address }}</p>

            </div>
        </article>
    {% endfor %}
{% endblock %}
