{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Datos página{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">

        {% if page.name and page.followers %}
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" value="{{ page.name }}" required>

            <label for="followers">Seguidores</label>
            <input type="number" name="followers" id="followers" value="{{ page.followers }}" required>

            <input type="submit" value="Actualizar">
        {% else %}
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" required>

            <label for="followers">Seguidores</label>
            <input type="number" name="followers" id="followers" required>

            <input type="submit" value="Crear">
        {% endif %}


    </form>
{% endblock %}
