{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Actualizar restaurante{% endblock %}</h2>
    <a href="{{ url_for('restaurant.page', restaurant_id=restaurant.id) }}">Página</a>
    <a href="{{ url_for('restaurant.schedule', restaurant_id=restaurant.id) }}">Horario</a>
{% endblock %}

{% block content %}
    <form method="POST">

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" value="{{ restaurant.name }}" required>

        <label for="address">Direccion</label>
        <input type="text" name="address" id="address" value="{{ restaurant.address }}" required>

        <label for="region">Region</label>
        <input type="text" name="region" id="region" value="{{ restaurant.region }}" required>

        <label for="kind">Tipo</label>
        <input type="text" name="kind" id="kind" value="{{ restaurant.kind }}" required>

        <input type="submit" value="Actualizar">

    </form>
{% endblock %}
