{% extends 'base.html' %}
{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}
{% block header %}
    <h2>{% block title %}Cargar datos{% endblock %} - Restaurante '{{ restaurant.name }}'</h2>
{% endblock %}

{% block content %}

<h4>Columnas necesarias del archivo:</h4>
<div class="instructions">
        <div class="i_posts">
            <p class="bg-secondary text-white">Hoja 1 "POSTS"</p>
            <ol>
                <li>created_date</li>
                <li>created_time</li>
                <li>message</li>
                <li>classification</li>
                <li>format</li>
                <li>post_id</li>
                <li>react_angry</li>
                <li>react_haha</li>
                <li>react_like</li>
                <li>react_love</li>
                <li>react_sad</li>
                <li>react_wow</li>
                <li>react_care</li>
                <li>share</li>
            </ol>
        </div>
        <div class="i_comments">
            <p class="bg-secondary text-white">Hoja 2 "COMMENTS"</p>
            <ol>
                <li>post_id</li>
                <li>created_date</li>
                <li>created_time</li>
                <li>from_name</li>
                <li>message</li>
                <li>gender</li>
                <li>reactions</li>
            </ol>
        </div>
    </div>

    {% if page_fetch %}
        <form method="POST" enctype="multipart/form-data">

            <label for="data">Seleccione archivo con extensión ".xlsx"</label>
            <input type="file" name="data" id="data" accept=".xlsx" required>

            <input id="cargar" type="submit" value="Cargar">

        </form>

        {% if not excel_files %}
            <h2 class="text-center text-danger pt-5 ">No existen archivos cargados a este restaurante</h2>
        {% else %}
            <h2 class="text-primary pt-5 mb-3">Archivos cargados previamente:</h2>
            {% for excel in excel_files %}
                <article>
                    <header>
                        <div>
                            {% if excel.deleted_at %}
                                <h4 id="danger" class="text-danger">{{ excel.name.split("___")[1] }}</h4>  
                            {% else %}
                                <h4> {{excel.name.split("___")[1] }}</h4>
                            {% endif %}
                        </div>
                        <div>
                            {% if not excel.deleted_at %}
                                <a id="delete_file" href="{{ url_for('restaurant.delete_excel', restaurant_id=restaurant.id, file_id=excel.id) }}">Eliminar</a>
                            {% endif %}
                        </div>
                    </header>
                </article>
            {% endfor %}
        {% endif %}

    {% else %}
        <h2 class="text-center text-danger pt-5 ">Restaurante sin página existente, registrala en Restaurantes > Actualizar > Página</h2>
    {% endif %}

    <!-- Loader -->
    <div class="load_cont" id="load_cont">
        <div class="load_1">
            <div class="cube loader" id="loader"><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="load_2">
            <span id="spn">Cargando...</span>
        <div>
    </div>
    <script>
        $("#load_cont").hide();
        $("#cargar").click(function(){
            $("#load_cont").show();
        });
        $("#delete_file").click(function(){
            $('#spn').text("Borrando ...");
            $("#load_cont").show();
        })
    </script>

{% endblock %}
