{% extends 'base.html' %}
{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}
{% block header %}
    <h2>{% block title %}Cargar datos{% endblock %} - Restaurante '{{ restaurant.name }}'</h2>
{% endblock %}

{% block content %}

    {% if page_fetch %}
        <form method="POST" enctype="multipart/form-data">

            <label for="data">Seleccione archivo con extensión ".xlsx"</label>
            <input type="file" name="data" id="data" accept=".xlsx" required>

            <input type="submit" value="Cargar">

        </form>

        {% if not excel_files %}
            <h2 class="text-center text-danger pt-5 ">No existen archivos cargados a este restaurante</h2>
        {% else %}
            <h2 class="text-primary pt-5 mb-3">Archivos cargados previamente:</h2>
            {% for excel in excel_files %}
                <article>
                    <header>
                        <div>
                            {% if excel.deleted_at %}
                                <h4 class="text-danger">{{ excel.name.split("___")[1] }}</h4>
                            {% else %}
                                <h4>{{ excel.name.split("___")[1] }}</h4>
                            {% endif %}
                        </div>
                        <div>
                            {% if not excel.deleted_at %}
                                <a href="{{ url_for('restaurant.delete_excel', restaurant_id=restaurant.id, file_id=excel.id) }}">Eliminar</a>
                            {% endif %}
                        </div>
                    </header>
                </article>
            {% endfor %}
        {% endif %}

    {% else %}
        <h2 class="text-center text-danger pt-5 ">Restaurante sin página existente, registrala en Restaurantes > Actualizar > Página</h2>
    {% endif %}

    <!-- Loader -->
    <div class="lds-ring loader" id="loader"><div></div><div></div><div></div><div></div></div>
    <script>
        window.addEventListener("load", function(){
            var element = document.getElementById("loader");
            element.classList.toggle("loader2");
        })
    </script>

{% endblock %}
