{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Gráficas estadisticas{% endblock %}</h2>
{% endblock %}

{% block content %}
    <article>
        <header>
            <div>
                <h4>Página: {{ page_fetch.name }} - Archivo: {{ file_name }}</h4>
            </div>
            <div>
                <a href="">listoooo</a>
            </div>
        </header>
    </article>

    <div class="row">

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 1:</h4></span></div>
            <canvas id="myChart"  style="max-width: 500px; max-height: 500px;"></canvas>
        </div>

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 2:</h4></span></div>
            <canvas id="myChart1"  style="max-width: 500px; max-height: 500px; margin-left: 0px;"></canvas> 
        </div>

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 3:</h4></span></div>
            <canvas id="myChart3"  style="max-width: 500px; max-height: 500px; margin-left: 0px;"></canvas> 
        </div>

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 4:</h4></span></div>
            <canvas id="myChart4"  style="max-width: 500px; max-height: 500px; margin-left: 0px;"></canvas> 
        </div>

    </div>

    <!-- JavaScript graphics logic -->
    <script>
        {% include 'statistic/graphic.js' %}
    </script>

    {% include 'statistic/test.html' %}

{% endblock %}