{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Gráficas estadisticas{% endblock %}</h2>
{% endblock %}

{% block content %}
    <article>
        <header>
            <div>
                <h4>Archivo: {{ file_fetch.name.split('___')[1] }}</h4>
            </div>
        </header>
    </article>

    <div class="row">

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 1:</h4></span></div>
            <canvas id="myChart"  style="max-width: 500px; max-height: 500px;"></canvas>
        </div>

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 2:</h4></span></div>
            <canvas id="myChart1"  style="max-width: 500px; max-height: 500px; margin-left: 0px;"></canvas> 
        </div>

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 3:</h4></span></div>
            <canvas id="myChart3"  style="max-width: 500px; max-height: 500px; margin-left: 0px;"></canvas> 
        </div>

        <div id='objeto' class='col-sm-6'>
            <div><span><h4>Grafica 4:</h4></span></div>
            <canvas id="myChart4"  style="max-width: 500px; max-height: 500px; margin-left: 0px;"></canvas> 
        </div>

        {% for post in posts_fetch %}
            <p>***********************</p>
            <p>{{ post }}</p>
            {% for comment in comments_fetch[post.id] %}
                <p>{{ comment }}</p>
            {% endfor %}
        {% endfor %} 

    </div>

    <!-- JavaScript graphics logic -->
    <script>
        {% include 'statistic/graphic.js' %}
    </script>


{% endblock %}