{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Actualizar usuario{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">

        <label for="email">Correo</label>
        <input type="text" name="email" id="email" value="{{ user.email }}" disabled>

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" value="{{ user.name }}" required>

        <label for="role">Rol</label>
        <input type="text" name="role" id="role" value="{{ user.role }}" required>

        <label for="restaurant_id">Restaurante</label>

        <select name="restaurant_id" id="restaurant_id">
            <option value="">Sin restaurante</option>
            {% for restaurant in restaurants %}
                {% if user.restaurant_id == restaurant.id %}
                    <option value="{{ restaurant.id }}" selected>{{ restaurant.name }}</option>
                {% else %}
                    <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input type="submit" value="Actualizar">

    </form>
{% endblock %}
