<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Analizador</title>
    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block customCSS %}{% endblock %} 
</head>
<body>

    <!-- Navbar  -->
    <header class="header">
        <div class="nav">
            <div>
                <a href="{{ url_for('index') }}"><h1>Analizador</h1></a>
            </div>
            {% if g.user %}
                <div class="menu">
                    <a href="">Restaurantes</a>
                    <a href="">Cargar datos</a>
                    <a href="">Sentimientos</a>
                    <a href="">Estadisticas</a>
                    <a href="">KPIs</a>
                </div>
            {% endif %}
            <nav>
                {% if g.user %}
                    <span><a href="{{ url_for('index') }}">{{ g.user.name }}</a></span>
                    <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
                {% else %}
                <a href="{{ url_for('auth.register') }}">Registrarse</a>
                <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
                {% endif %}
            </nav>    
        </div>
    </header>

    <section>
        <div class="content">
            <!-- Header -->
            <header>{% block header %}{% endblock %}</header>
            
            <!-- Flash messages -->
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            <!-- Content -->
            {% block content %}{% endblock %}
        </div>
    </section>

</body>
</html>